---
import DetailHeading from "$components/DetailHeading.astro"
import LabeledSection from "$components/LabeledSection.astro"
import Layout from "$layouts/Layout.astro"

const title = "Browse"
const description =
  "Browse through mountains of content; from blogs, scrapped projects, and other things"
---

<Layout {title} {description}>
  <DetailHeading {title} {description} />
  <div class="px-8 mx-auto max-w-screen-xl flex flex-col gap-y-3.5">
    <LabeledSection title="Portfolio" />
    <LabeledSection title="Developer focused" />
    <LabeledSection title="Others" />
    <LabeledSection title="Blog posts">lol</LabeledSection>
  </div>
</Layout>
