---
/* eslint-disable @typescript-eslint/no-explicit-any */
import ShowcaseItemHero from "../showcase/ShowcaseItemHero.svelte"
import { getCollection } from "astro:content"

const showcaseItems = (await getCollection("showcase")).sort(
  (a, b) =>
    Date.parse((b as unknown as any).data.date) -
    Date.parse((a as unknown as any).data.date)
)
---

<section>
  <div class="grid gap-y-4 flex-1">
    {showcaseItems.map(({ slug, data }) => <ShowcaseItemHero {slug} {data} />)}
  </div>
</section>
