[submodule "packages/shared"]
	path = packages/shared
	url = https://github.com/kuroji-fusky/kuro-utils.git
[submodule "packages/fusky-lab-configs"]
	path = packages/fusky-lab-configs
	url = https://github.com/fusky-labs/shared-configs.git
