---
import Layout from "../../lib/components/Layout.astro"
import BlogGrid from "../../lib/components/BlogGrid.astro"
import { latestBlogPosts } from "../../lib/contentful"
import config from "../../lib/constants"

const latestPosts = await latestBlogPosts({ limit: 6 })

const {
  headings: { blog }
} = config
---

<Layout title={blog.title} description={blog.description}>
  <div class="mx-auto max-w-screen-2xl px-8">
    <BlogGrid posts={latestPosts} />
  </div>
</Layout>
