---
import Layout from "src/layouts/Layout.astro"
import { Schema } from "astro-seo-schema"
import { Image } from "astro:assets"
import ShowcaseItems from "$components/sections/ShowcaseItems.astro"
---

<Layout title="Home">
  {/* Hero */}
  <!-- <section class="h-[calc(100dvh-3rem)]">
    <Image
      height={1280}
      width={720}
      loading="eager"
      sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px"
      class="w-1/4 object-cover aspec transition-transform duration-300"
      src="https://fuskylabs-cdn.imgix.net/commissions/23/dougly_icon-transformed.png"
      alt=""
    />
  </section> -->
  {/* Showcase */}
  <ShowcaseItems />
</Layout>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Kuroji Fusky",
    url: Astro.site!.toString(),
    potentialAction: {
      "@type": "SearchAction",
      target: new URL("search", Astro.site).toString()
    }
  }}
/>
