---
import PeekTitle from "./PeekTitle.svelte"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<header
  class="padding-width-responsive pt-2.5 pb-3.5 my-3 max-w-screen-xl mx-auto"
>
  <div class="flex justify-between items-center">
    <div>
      <slot name="breadcrumbs">
        <span id="breadcrumb-placeholder"></span>
      </slot>
      <PeekTitle client:idle class="text-4xl font-extrabold mb-2.5" {title} />
      <p class="opacity-75">{description}</p>
    </div>
    <slot />
  </div>
</header>
