---
import ExtLinkIcon from "~icons/lucide/external-link"

const currentYear = new Date().getFullYear()
const sourceRepoUrl = "https://github.com/kurojifusky/kurojifusky.com"
---

<div
  class="padding-width-responsive py-10 relative flex gap-y-2.5 max-w-screen-2xl mx-auto"
>
  <footer class="flex flex-col gap-y-8 text-sm flex-1">
    <div
      class="flex flex-col-reverse md:flex-row gap-y-6 justify-between hover:[&_a]:underline [&_a]:text-kuro-lavender-200 hover:[&_a]:text-kuro-lavender-300"
    >
      <span class="font-normal opacity-50"
        >{`© ${currentYear} `}
        <span translate="no">Fusky Labs, LLC</span>
      </span>
      <div
        class="flex gap-x-5 items-start md:items-center gap-y-4 flex-col md:flex-row"
      >
        <a href="/links">Links</a>
        <a
          href={sourceRepoUrl}
          target="_blank"
          class="inline-flex gap-x-1 items-center"
          rel="noopenner noreferer"
        >
          <span>Sauce code</span>
          <ExtLinkIcon />
        </a>
      </div>
    </div>
  </footer>
</div>
