---
import { Image } from "astro:assets"

interface Props {
  src: string
  alt?: string
  class?: string
  loading?: "eager" | "lazy"
  widths?: number[]
  sizes?: string
  infer?: boolean
  quality?: number
  itemprop?: string
  width?: number
  height?: number
  srcset?: string
  format?: "webp"
  fetchpriority?: "high" | "low" | "auto"
}

const { alt, class: className, infer, ...others } = Astro.props
---

<div class="relative [&_img]:z-[1] [&_img]:relative select-none">
  <div class="absolute inset-0 z-[2]" aria-hidden></div>
  {/* @ts-ignore */}
  <Image
    alt={alt || ""}
    class={className}
    draggable="false"
    inferSize={infer}
    {...others}
  />
</div>
