---
import { kebabCase } from "lodash-es"

interface Props {
  title: string
  enforceA11y?: boolean
}

const { title, enforceA11y = true } = Astro.props

const titleUUID = kebabCase(title)
---

<section>
  <div class="flex items-center">
    <div
      role="heading"
      aria-level="2"
      id={enforceA11y ? titleUUID : undefined}
      class="flex-1 text-2xl font-bold"
    >
      {title}
    </div>
    <div class="flex-shrink-0">
      <slot name="heading-content" />
    </div>
  </div>

  <div>
    <slot />
  </div>
</section>
