---
import Layout from "$layouts/Layout.astro"
---

<Layout title="Showcase">
  <div class="max-w-screen-2xl px-8 mx-auto flex">
    <div class="flex-shrink-0 w-2/5 bg-slate-600"></div>
  </div>
</Layout>
